body[data-sidebar=dark].vertical-collpsed {
    min-height: 800px !important;
}

body[data-sidebar=dark] .vertical-menu {
    background: #0274be !important;
}

body[data-sidebar=dark] .navbar-brand-box {
    background: #0274be;
}